@model MERCADOS.Web.Models.FormatoPrincipalModelMin

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<table class="table">
    @foreach (var nodo in Model.Cabecera)
    {
        <tr>
            <td>Código de Formato:</td>
            <td>@Html.DisplayFor(modelCab => nodo.id_formato)</td>
            <td>&nbsp;</td>
            <td>Fecha de Formato:</td>
            <td>@Html.DisplayFor(modelCab => nodo.fecha_formato)</td>
        </tr>
        <tr>
            <td>Formato:</td>
            <td>@Html.DisplayFor(modelCab => nodo.nom_formato)</td>
            <td>&nbsp;</td>
            <td>Mercado:</td>
            <td>@Html.DisplayFor(modelCab => nodo.nom_mercado)</td>
        </tr>
    }
</table>
<br />
<p>
    @Html.ActionLink("Nuevo Registro", "Create", new { formatoID = ViewBag.id_formato, instanciaID = ViewBag.id_instancia })
</p>
<br />
<table class="table">
    <tr class="cabecera">
        <th>
            Nombre de especie
        </th>
        <th>
            Unidad
        </th>
        <th>
            Procedencia
        </th>
        <th>
            Puesto
        </th>
        <th>
            Precio mín.
        </th>
        <th>
            Precio máx.
        </th>
        <th>
            Presentación
        </th>
        <th>
            Estado
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Detalle)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nom_especie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nom_unidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nom_lugar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.puesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio_min)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio_max)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nom_presentacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nom_estado)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id_registro, formatoID = ViewBag.id_formato, instanciaID = ViewBag.id_instancia }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.id_registro }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.id_registro })
            </td>
        </tr>
    }
</table>
<br />
Total registros: @ViewBag.TotalCountMinorista
<br />
<br />
<div>
    @Html.ActionLink("Regresar", "Index", "Instancia")
    &nbsp;|&nbsp;
    @Html.ActionLink("Confirmar Formato", "Confirmar", "FmtMinorista")
</div>
