@model MERCADOS.Web.Models.FormatoViewModel

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar formato</h2>

<h3>Eliminación de registro</h3>
<div>
    <h4>¿Está seguro que desea eliminar este formato?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="text-align: left;">
            @Html.DisplayNameFor(model => model.tipo_formato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_formato)
        </dd>

        <dt style="text-align: left;">
            @Html.DisplayNameFor(model => model.nom_formato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_formato)
        </dd>

        <dt style="text-align: left;">
            @Html.DisplayNameFor(model => model.ult_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ult_usuario)
        </dd>

        <dt style="text-align: left;">
            @Html.DisplayNameFor(model => model.ult_fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ult_fecha)
        </dd>

        <dt style="text-align: left;">
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>
    <br />
    <br />
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
