@model MERCADOS.Web.Models.FormatoPrincipalModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<table class="table">
@foreach (var nodo in Model.Cabecera)
{
    <tr>
        <td>Código de Formato:</td>
        <td>@Html.DisplayFor(modelCab => nodo.id_formato)</td>
        <td>&nbsp;</td>
        <td>Fecha de Formato:</td>
        <td>@Html.DisplayFor(modelCab => nodo.fecha_formato)</td>
    </tr>
    <tr>
        <td>Formato:</td>
        <td>@Html.DisplayFor(modelCab => nodo.nom_formato)</td>
        <td>&nbsp;</td>
        <td>Mercado:</td>
        <td>@Html.DisplayFor(modelCab => nodo.nom_mercado)</td>
    </tr>
}
</table>
<br />
<p>
    @Html.ActionLink("Nuevo Registro", "Create", new { formatoID = ViewBag.id_formato, instanciaID  = ViewBag.id_instancia})
</p>
<br />
@Html.Partial("Items", Model.Detalle)