@model MERCADOS.Web.Models.InstanciaViewModel

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles de instancia de formato</h2>
<br />
<br />
<div>
    <h4>Muestra el registro detallado de la instancia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="text-align: left;">
            @Html.DisplayNameFor(model => model.nom_formato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_formato)
        </dd>

        <dt style="text-align: left;">
            @Html.DisplayNameFor(model => model.nom_mercado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_mercado)
        </dd>

        <dt style="text-align: left;">
            @Html.DisplayNameFor(model => model.usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario)
        </dd>

        <dt style="text-align: left;">
            @Html.DisplayNameFor(model => model.fecha_formato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_formato)
        </dd>

        <dt style="text-align: left;">
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt style="text-align: left;">
            @Html.DisplayNameFor(model => model.ult_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ult_usuario)
        </dd>

        <dt style="text-align: left;">
            @Html.DisplayNameFor(model => model.ult_fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ult_fecha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_instancia }) |
    @Html.ActionLink("Regresar", "Index")
</p>
