@model MERCADOS.Web.Models.SeccionViewModel

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles de sección</h2>
<br />
<br />
<div>
    <h4>Muestra el registro detallado de la sección</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="text-align: left;">
            @Html.DisplayNameFor(model => model.nom_formato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_formato)
        </dd>

        <dt style="text-align: left;">
            @Html.DisplayNameFor(model => model.nom_seccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_seccion)
        </dd>

        <dt style="text-align: left;">
            @Html.DisplayNameFor(model => model.orden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orden)
        </dd>

        <dt style="text-align: left;">
            @Html.DisplayNameFor(model => model.ult_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ult_usuario)
        </dd>

        <dt style="text-align: left;">
            @Html.DisplayNameFor(model => model.ult_fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ult_fecha)
        </dd>

        <dt style="text-align: left;">
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>
</div>
<br />
<br />
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_seccion }) |
    @Html.ActionLink("Regresar", "Index")
</p>

